<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Todo List</title>
    <!-- custom css -->
    <link rel="stylesheet" href="css/style.css">
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Bubbler+One" rel="stylesheet">
</head>

<body class="bg-secondary" ng-app="myApp">
    <section class="row" ng-controller="TodoCtrl">
        <div class="col-lg-4 offset-lg-4 col-md-6 offset-md-2 col-sm-12 card row">
            <h1 class="card-title text-center text-muted">todo</h1>
            <div class="seperator"></div>
            <div class="card-block">
                <p class="text-center">Add a new To Do Item:</p>
                <input type="text" placeholder="Description..." class="inputDescrip offset-sm-3 col-sm-6 col-xs-12 offset-xs-1" ng-model="formTodoText" ng-model-instant />
                <input type="text" placeholder="Due Date..." class="offset-sm-3 col-sm-6 col-xs-12 offset-xs-1" ng-model="formTodoDate" ng-model-instant />
                <input type="submit" class="btn btn-info submit col-xs-3 offset-9" ng-click="addTodo()" />
            </div>
            <div class="seperator"></div>
            <ul class="card-block row">
                <li ng-repeat="todo in todos" class="col-sm-12">
                    <label class="form-check-label col-md-8 col-sm-6 todoItems">
                        <input type="checkbox" class="form-check-input" ng-click="completeItem($index)" />
                        <span class="custom-check"></span> {{todo.text}}
                        <p class="text-right">{{todo.date}}</p>
                    </label>
                    <div class="col-md-3 buttons text-right">
                        <a href="#" class="text-right col-sm-1 offset-xs-10">Edit</a>
                        <a href="#" class="text-right col-sm-1 offset-xs-10" ng-click="delete()">Delete</a>
                    </div>
                </li>
            </ul>
            <div class="seperator"></div>
            <ul class="card-block">
                <li class="form-check disabled row" ng-repeat="complete in completed">
                    <label class="form-check-label col-sm-8 disabled">
                        <img src="img/glyphicons-check.png" alt="Checked Box. ">
                        {{complete.text}}
                        <p class="text-right">Completed {{complete.date}}</p>
                    </label>
                    <a href="#" class="col-md-1">Uncomplete</a>
                </li>
            </ul>
        </div>
    </section>
    <!-- angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="js/app.js"></script>
</body>

</html>
